.single-input {
    margin: 1rem;
}

.single-input button {
    margin-top: 5rem;
}

#job_description_label {
    margin-top: 1rem;
    padding: 1rem;
}


.form-label {
    margin: 5rem 0rem 0.5rem 0rem;
}